.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    min-height: 100vh;
  }

.textbox{
    min-height: 100vh;
    display: flex;
    /* background:linear-gradient(rgba(193, 246, 108, 0.772),rgb(237, 243, 239),rgb(239, 239, 247),rgb(163, 172, 213)); */
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    margin: 0;
    padding-right: 250px;
    padding-left:20px;
    position: relative;
    margin-right: 20px; 

}
.home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
    letter-spacing: 1px;
  }

  .below p {
    font-size: 1.1rem;
    color: #0f4e70a0;
    line-height: 1.6;
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
  }
  .image-container {
   
    padding-left: 50px;
    flex: 1;
    position: absolute; /* Change to absolute for more reliable positioning */
    right: 0px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

 
.image-container img {
    max-width: 500px;
    height: auto;
}   
