.textbox{
    min-height: 100vh;
    display: flex;
    /* background:linear-gradient(rgba(193, 246, 108, 0.772),rgb(237, 243, 239),rgb(239, 239, 247),rgb(163, 172, 213)); */
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    margin: 0;
    padding-right: 250px;
    padding-left:20px;
    

}
.home h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #0b1457;
    font-family: 'Poppins', sans-serif;
  }

  .below p {
    font-size: 1.1rem;
    color: #0f4e70a0;
    line-height: 1.6;
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
  }
  .image-container {
    position: relative;
    margin-left: 700px;        
    transform: translateY(-550px);
  }
  .image-container img {
    width: 600px;            
