.heading{
  text-align: center;
  padding: 2rem 0;
}

.heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
  letter-spacing: 1px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 16px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .card button {
    padding: 8px 12px;
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .card button:hover {
    background-color: #218838; /* Darker green */
  }

  .reject-btn {
    padding: 8px 12px;
    background-color: #ed0808!important; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .reject-btn:hover {
    background-color: #a53e1c;
  }

  