.navbar{
    position: fixed;
    padding-top: 0;
    background-color:rgb(52, 53, 59);
    display:flex;
    justify-content: flex-end;
    transition: all 0.4s ease;
    z-index: 999;
    width: 100%;
    top:0;


}
.navbar:hover{
    background-color: rgb(13, 14, 15);
}
.list{
   list-style: none;
   padding:0;
   margin: 0;
   text-align: right;
   display:flex;
   gap:20px;
   align-items: center;



}
.comp{
     
    display:inline-block;
    align-items:center;


}
.link{
    text-decoration: none;
    color:#fff;
    width:100px;
    padding: 16px 24px;
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  



}
.link:hover{
    background: white;
    color:black;  



}




