.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left:10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 300px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(6, 1, 19, 0.847);
    transform: scale(1.05);


}
.container{
    padding-bottom: 20px;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;

}

  
.momo button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px 24px;
        background-color: #000000;       /* Blue background */
        color: white;                    /* White text */
        border: none;                   /* Remove default border */
              
        border-radius: 5px;             /* Rounded corners */
        font-size: 16px;                /* Larger text */
        cursor: pointer;                /* Pointer cursor on hover */
        transition: background-color 0.3s ease; /* Smooth hover effect */
      }
      
.momo button:hover {
        background-color: #3d4248;     /* Darker blue on hover */
      }
       

